.toyota-world {
    
    background:  #2c3e50;
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content;
    margin: 15px;
}

.toyota-world a {
    color: rgb(254, 247, 247);
    font-size: 20px;
    font-weight: bold;
    line-height: 10px;
}

.toyota-world a:hover {
    color: #e3dede;
    text-shadow: 0 0 8px rgb(238, 232, 232);
}
