body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    color: #222;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #2c3e50;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.content {
    padding: 30px 40px;
}

.columns {
    display: flex;
    gap: 50px;
}
.column h3 {
    margin-bottom: 15px;
}

.column p {
    margin: 6px 0;
    cursor: pointer;
}

.banner img {
    width: 330px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.btn {
    display: block;
    width: 200px;
    padding: 12px;
    margin-top: 10px;
    background: #f4f4f4;
    border: 1px solid #ddd;
    cursor: pointer;
}

footer {
    padding: 50px;
    background: #2c3e50;
    text-align: center;
    font-size: 14px;
}

